body {
    padding: 10px;
    font-family: sans-serif;
}

input,
select {
    margin: 2px;
}

input[type='text'] {
    width: 300px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px 5px;
}
input[type='password'] {
    width: 300px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px 5px;
}
